<div id="menu" class="{{ menu_active }}">
    <div class="mobile handle">
        Menu
        <div class="button">
            <span class="color"></span>
            <span></span>
            <span class="color"></span>
            <span></span>
            <span class="color"></span>
        </div>
    </div>

    <ul>
        {{#each menu.entries}}
            <li {{#if class}}class="{{ class }}"{{/if}}>
                <a class="{{ path }}" href="{{ href }}">
                    <p>{{ title }}</p>
                </a>

                {{#if sub_items}}
                    <ul class="submenu">
                        {{#each sub_items}}
                            <li>
                                <a class="{{ path }}" href="{{ href }}">
                                    <p>{{ title }}</p>
                                </a>
                            </li>
                        {{/each}}
                        <span class="end"></span>
                    </ul>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>

<div id="content">
    <h1>{{ title }}</h1>

    <div class="mainparagraph">
        <ul>
            <li>
                {{ contact.name }}
            </li>
            <li>
                {{ contact.street }}
            </li>
            <li>
                {{ contact.city }}
            </li>
            <li>
                Telefon {{ contact.phone }}
            </li>
            <li>
                Fax {{ contact.fax }}
            </li>
        </ul>
        
    </div>
    <span class="end"></span>
    <p style="height: 30px; margin: 0px;"></p>

    <div id="map" name="map"></div>
    <div id="osm">
        © <a href="http://www.openstreetmap.org">OpenStreetMap</a> und <a href="http://www.openstreetmap.org/copyright">Mitwirkende</a>, <a href="http://creativecommons.org/licenses/by-sa/2.0/deed.de">CC-BY-SA</a>
    </div>
    <span class="end"></span>
    
    <!--<script type="text/javascript" src="/javascripts/emailform.js"></script>-->
    <script type="text/javascript">
        function validateEmpty(type, testobject, empty) {
            if (testobject == '') {
                if (empty == '') {
                    return (type)
                } else {
                    return (", " + type)
                };
            } else {
                return ('')
            };
        };

        function validateName(name) {
            if (/^\w+ \w+$/.test(name)) {
                return ('')
            } else {
                return ('Sie haben einen ungültige Namen eingegeben.')
            };
        };

        function validateBirth(birth) {
            if (birth[0] + birth[1] + birth[2] + birth[3] <= 2018) {
                return ('')
            } else {
                return ('Sie haben ein Geburtsjahr angegeben, dass in der Zukunft liegt.')
            };
        };

        function validateEmail(email) {
            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
                return ('')
            } else {
                return ('Sie haben eine ungültige E-Mail-Adresse eingegeben.')
            };
        };

        function validateForm() {
            var empty_err = '';
            var name_err = '';
            var birth_err = '';
            var email_err = '';
            var error = '';
            $('#message')[0].innerHTML = '';

            // Input
            var gender = document.forms["emailform"]["gender"].value;
            var name = document.forms["emailform"]["name"].value;
            var birth = document.forms["emailform"]["birth"].value;
            var email = document.forms["emailform"]["email"].value;
            var order = document.forms["emailform"]["order"].value;

            empty_err = validateEmpty("Anrede", gender, empty_err)
            empty_err += validateEmpty("Name", name, empty_err)
            empty_err += validateEmpty("Geburtsdatum", birth, empty_err)
            empty_err += validateEmpty("E-Mail", email, empty_err)
            empty_err += validateEmpty("Bestellung", order, empty_err);

            name_err = validateName(name);
            birth_err = validateBirth(birth);
            email_err = validateEmail(email);

            error = empty_err + name_err + email_err;

            if (empty_err != '') {
                $('#message')[0].innerHTML = "Bitte füllen sie die folgenden Felder aus: ";
                $('#message')[0].innerHTML += empty_err;
                $('#message')[0].className = "alert-danger alert";
            };

            if (empty_err == '' && name_err != '') {
                $('#message')[0].innerHTML = name_err;
                $('#message')[0].className = "alert-danger alert";
            };

            if (empty_err == '' && name_err == '' && birth_err != '') {
                $('#message')[0].innerHTML = birth_err;
                $('#message')[0].className = "alert-danger alert";
            };

            if (empty_err == '' && name_err == '' && birth_err == '' && email_err != '') {
                $('#message')[0].innerHTML = email_err;
                $('#message')[0].className = "alert-danger alert";
            };

            if (error == '') {
                $('#message')[0].innerHTML = 'Ihre Daten wurden erfolgreich an die Praxis übermittelt.'
                $('#message')[0].className = "alert-success alert";
            };
        };
    </script>
</div>