<div id="menu" class="{{ menu_active }}">
    <div class="mobile handle">
        Menu
        <div class="button">
            <span class="color"></span>
            <span></span>
            <span class="color"></span>
            <span></span>
            <span class="color"></span>
        </div>
    </div>

    <ul>
        {{#each menu.entries}}
            <li {{#if class}}class="{{ class }}"{{/if}}>
                <a class="{{ path }}" href="{{ href }}">
                    <p>{{ title }}</p>
                </a>

                {{#if sub_items}}
                    <ul class="submenu">
                        {{#each sub_items}}
                            <li>
                                <a class="{{ path }}" href="{{ href }}">
                                    <p>{{ title }}</p>
                                </a>
                            </li>
                        {{/each}}
                        <span class="end"></span>
                    </ul>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>

<div id="content">
    <h1>{{ title }}</h1>

    <div class="mainparagraph">
        <p class="first">
            Einzelpraxis mit zwei KV Sitzen
        </p>
        <ul>
            <li>
                {{ contact.name }}
            </li>
            <li>
                {{ contact.street }}
            </li>
            <li>
                {{ contact.city }}
            </li>
            <li>
                <br />
            </li>
            <li>
                Telefon {{ contact.phone }}
            </li>
            <li>
                Fax {{ contact.fax }}
            </li>
        </ul>

        <h2>Urheberrecht</h2>
        <p>
            Copyright © Dr. med. Andrea Maschita<br />
            Alle Rechte vorbehalten. Alle Inhalte unterliegen dem Urheberrecht und anderen Gesetzen zum Schutz geistigen Eigentums. Sie dürfen weder für Handelszwecke oder zur Weitergabe kopiert, noch verändert und auf anderen Web-Sites verwendet werden.
        </p>

        <h2>Rechtliche Hinweise</h2>
        <h3>Pflichtangaben gemäß Teledienstgesetz</h3>
        <p>
            Mit der Änderung des Teledienstgesetzes vom 21.12.2001 sind Ärzte neben der Angabe des Namens, der Anschrift und der E-Mail-Adresse zu folgenden Angaben verpflichtet:
        </p>

        <h3>Angabe des Erwerbs der Berufbezeichnung</h3>
        <p>
            Dr. med. Andrea Maschita wurde die Erlaubnis zum Führen der Berufsbezeichnung Arzt, der Facharztanerkennung sowie der Promotion in Deutschland verliehen.
        </p>

        <h3>Zuständige Aufsichtsbehörde</h3>
        <p>
            Landesärztekammer Hessen, Im Vogelsgesang 3, 60488 Frankfurt am Main | <a href="https://www.laekh.de/">Landesärztekammer Hessen</a>
        </p>

        <h3>Zuständige Kammer</h3>
        <p>
            Kassenärztliche Vereinigung Hessen, Georg-Voigt-Straße 15, 60325 Frankfurt | <a href="https://www.kvhessen.de/">KV Hessen</a>
        </p>

        <h3>Berufsrechtliche Regelungen</h3>
        <p>
            Die berufsrechtlichen Regelungen sind die Bundesärzteordnung (02.10.1961 BGBI I Seite 1857 i. d. jeweils gültigen Fassung), in der die Approbation geregelt ist, und das Heilberufsgesetz Hessen (20.10.1978 GVBI Seite 649 i.d. Fs Artikel 1 d LG v. 21.02.2001 GVBI Seite 49). Beide Regelungen können durch einen Hinweis über die Möglichkeit der Kenntnisnahme bei der zuständigen Bezirksärztekammer eingesehen werden.
        </p>
        <p>
            Das Arztrecht (Bundesärzteordnung) ist Angelegenheit des Bundes. Die Verleihung der Approbation ist Sache des Landes.
        </p>

        <h3>Gebührenordnung für privatärztliche Leistungen</h3>
        <p>
            Die online-GOÄ gibt jeweils den aktuell gültigen Stand der Gebührenordnung für privatärztliche Leistungen wieder und ist einzusehen unter <a href="http://www.e-bis.de/">http://www.e-bis.de/</a>.
        </p>
    </div>
    <span class="end"></span>
</div>