<div id="menu" class="{{ menu_active }}">
    <div class="mobile handle">
        Menu
        <div class="button">
            <span class="color"></span>
            <span></span>
            <span class="color"></span>
            <span></span>
            <span class="color"></span>
        </div>
    </div>

    <ul>
        {{#each menu.entries}}
            <li {{#if class}}class="{{ class }}"{{/if}}>
                <a class="{{ path }}" href="{{ href }}">
                    <p>{{ title }}</p>
                </a>

                {{#if sub_items}}
                    <ul class="submenu">
                        {{#each sub_items}}
                            <li>
                                <a class="{{ path }}" href="{{ href }}">
                                    <p>{{ title }}</p>
                                </a>
                            </li>
                        {{/each}}
                        <span class="end"></span>
                    </ul>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>

<div id="content">
    <h1 class="first">{{ services.headline }}</h1>

    <div class="mainparagraph only_text">
        {{#each services.list_items}}
            <p>
                {{{ item }}}
            </p>
        {{/each}}
    </div>
    <span class="end"></span>
</div>